@tailwind base;
@tailwind components;
@tailwind utilities;

.tweetBg {
  background-image: url("../src/assets/svgviewer-output.png");
  background-size: cover; /* Optional: Adjusts the background size to cover the element */
  background-position: center; /* Optional: Centers the background image */
  background-repeat: no-repeat; /* Optional: Prevents the image from repeating */
  background-color: #333333;
}
